<!DOCTYPE html>

<html lang="{{basename}}" prefix="og: http://ogp.me/ns#">

  <head>

    <meta charset="UTF-8" />

    <!-- basic meta -->
    <title>{{ options['title'] }}</title>
    <meta name="description" content="{{ options['description'] }}">

    <!-- opengraph:meta -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ options['title'] }}" />
    <meta property="og:description" content="{{ options['description'] }}">
    <meta property="og:url" content="{{ options['url'] }}" />
    <meta property="og:image" content="{{ options['url'] }}/media/thumbnail.png" />

    <!-- twitter:meta -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ options['title'] }}" />
    <meta name="twitter:description" content="{{ options['description'] }}" />
    <meta name="twitter:image" content="{{ options['url'] }}/media/thumbnail.png" />

    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/typography.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script src="js/paged.polyfill.js"></script>

  </head>

  <body>
  
    <nav>

      <div class="toggle-wrapper">
        <button id="toggle" onclick="document.body.classList.toggle('outline');">
          <span id="toggle__stroke">
            {% include 'www/media/a-stroke.svg' %}
            <span>stroke</span>
          </span>
          <span id="toggle__outline">
            {% include 'www/media/a-outline.svg' %}
            <span>outline</span>
          </span>
        </button>
        <div id="toggle__modal" class="open-modal">?</div>
      </div>

      {% if basename != "fwb" %}
      <ul class="langs">
        {% for key, value in content.items() %}

        {% if key != "fwb" %}
          <li>
            <a href="{{ key }}.html" class="{% if key == basename %}active{% endif %}">{{key}}</a>
          </li>
          {% endif %}

        {% endfor %}
      </ul>
      {% endif %}

      <div class="toc-container">
        {{ content[basename]['toc']|safe }}

        {% if basename != "fwb" %}
        <a href="#faq" class="faq-link">faq</a>
        {% endif %}
      </div>

    </nav>

    <main id="{{basename}}">
      {{ content[basename]['call']|safe }}

      {% if basename != "fwb" %}
        <div class="faq" id="faq">
          <h2>FAQ</h2>
          {{ content[basename]['faq']|safe }}  
        </div>
      {% endif %}
    </main>

    <dialog class="modal">
      <div class="close-modal">&times;</div>
      <div class="modal-content">
        {{ content[basename]['modal']|safe }}
      </div>
    </dialog>

    <script type="text/javascript">
      const modal = document.querySelector(".modal");
      const modal_content = document.querySelector(".modal-content");
      const open_btn = document.querySelector(".open-modal");
      const close_btn = document.querySelector(".close-modal");

      open_btn.addEventListener('click', () => {
        modal.showModal();
        document.body.classList.add("modal-open");
      });
      close_btn.addEventListener('click', () => {
        modal.close();
        document.body.classList.remove("modal-open");
      });
      modal.addEventListener('click', () => {
        modal.close();
        document.body.classList.remove("modal-open");
      });
      modal_content.addEventListener('click', (event) => {
        event.stopPropagation();
      });
    </script>

  </body>


</html>
