
:root{
  --lh: 1.35rem;

  --stroke: 1.2px;
  --thick-stroke: calc(var(--stroke) * 2);
}

@media (max-width: 36rem) {
  :root{
    --thick-stroke: calc(var(--stroke) * 2);
  }
}


/*  GLOBAL
    ========================================== */

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  background: var(--c-back);

  --c-back: whitesmoke;
  --c-front: black;
  --border: var(--stroke) solid var(--c-front);
}

body{
  display: grid;
  grid-template-columns: 20rem auto;
}

body > nav{
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 9;
  overflow: auto;

  padding: var(--lh);
  box-sizing: border-box;
}

body > main{
  max-width: 36rem;
  position: relative;
  padding: calc(var(--lh) * 1.5) calc(var(--lh) * 2);
}

body.modal-open{
  overflow: hidden;
}

*::selection{
  background: fuchsia;
}

@media only screen and (max-width: 1200px) {
  body{
    grid-template-columns: 15rem auto;
  }
}
@media only screen and (max-width: 900px) {
  body{
    display: initial;
  }
  body > nav{
    position: fixed;
    height: auto;
    top: auto;
    bottom: 0;

    display: flex;
    gap: var(--lh);
    justify-content: space-between;
    align-items: center;

    width: 100%;
    background: var(--c-back);
    border-top: var(--border);
  }
  .toc-container{
    display: none;
  }
  body > nav > *{
    margin-bottom: 0 !important;
  }
  body > main{
    padding-bottom: calc(var(--lh) * 6);
  }
  body > nav{
    padding: calc(var(--lh) * 0.5);
  }
}
@media only screen and (max-width: 600px) {
  body > main{
    padding: calc(var(--lh) * 2) calc(var(--lh) * 0.5) calc(var(--lh) * 6);
  }
}

/*  LAYOUT
    ========================================== */

img, iframe{
  display: block;
  max-width: 100%;
  max-height: 60vh;
  margin: calc(var(--lh) * 2) auto;
  border-radius: var(--lh);
}
img{
  width: 100%;
}

@media only screen and (max-width: 600px) {
  img, iframe{
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
}

iframe{
  aspect-ratio: 16 / 9;
  margin-bottom: 0;
}


/*  NAVIGATION
    ========================================== */

/* LANGS */
ul.langs{
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  gap: calc(var(--lh) * 0.5);
}
ul.langs a{
  display: block;
  border-radius: var(--lh);
  border: var(--border);
  background: var(--c-back);

  width: calc(var(--lh) * 2);
  height: calc(var(--lh) * 2);

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  text-decoration: none;
  transition: 0.1s border;
}
ul.langs a:hover{
  border-width: var(--thick-stroke);
}

ul.langs a.active{
  background-color: var(--c-front);
  color: var(--c-back);
  -webkit-text-stroke-color: var(--c-back);
}

nav > *:not(:last-child){
  margin-bottom: calc(var(--lh) * 0.5);
}
ul.langs{
  margin-bottom: calc(var(--lh) * 1);
}
h1{
  height: calc(var(--lh) * 4);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
h1, h2, h3, h4, h5, h6{
  scroll-margin-top: calc(var(--lh) * 4.5);
}

/*  TOGGLE
    ========================================== */

.toggle-wrapper{
  text-transform: uppercase;
  font-family: monospace;
  line-height: var(--lh);
  -webkit-text-stroke: 0;
  position: relative;
  color: var(--c-front);
  width: fit-content;
}

#toggle{
  background-color: var(--c-back);
  /* border: none; */
  padding: 0;
  display: flex;
  cursor: pointer;
  font-size: initial;
  border-radius: var(--lh);
  border: var(--border);
  box-sizing: border-box;
  align-items: stretch;

  height: calc(var(--lh) * 2);
}
#toggle > span{
  flex: 0 1 100%;
  flex-wrap:wrap;
  /* padding: calc(var(--lh) * 0.3) calc(var(--lh) * 0.25) calc(var(--lh) * 0.15); */
  padding: 0 calc(var(--lh) * 0.25);
  /* border: var(--border); */
  box-sizing: border-box;
  border-radius: calc(var(--lh) * 0.95);
  transition: 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#toggle > span >*{
  flex-basis: 100%;
}
#toggle > span > svg{
  height: calc(var(--lh) * 0.85) !important;
}

#toggle > span:first-child {
  margin-right: calc(var(--lh) * -0.5);
}

#toggle__stroke,
.outline #toggle__outline{
  background-color: var(--c-front);
  color: var(--c-back);
}
#toggle__outline,
.outline #toggle__stroke{
  background-color: initial;
  color: var(--c-front);
}
#a-stroke{
  fill: currentColor;
}
#a-outline{
  fill: none;
  stroke: currentColor;
  stroke-width: var(--stroke);
  vector-effect: non-scaling-stroke;
}

svg{
  overflow: visible;
}

#toggle__modal{
  cursor: pointer;
  position: absolute;

  width: 1.5em;
  height: 1.5em;
  bottom: calc(100% - 0.75rem);
  left: 100%;

  background-color: lightgray;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal{
  border: var(--border);
  background-color: palegoldenrod;
  
  max-width: 36rem;
  height: calc(100vh - 2 * var(--lh));
  box-sizing: border-box;
  padding: 0;
}

.modal-content{
  padding: calc(var(--lh) * 1) calc(var(--lh) * 2) calc(var(--lh) * 2);
}

.close-modal{
  position: sticky;
  top: 0;
  height: calc(var(--lh) * 1.5);
  background-color: palegoldenrod;

  cursor: pointer;
  font-size: 2em;

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border-bottom: var(--border);

  z-index: 999;
}

body.modal-open {
  overflow-y: hidden;
}

@media only screen and (max-width: 900px) {
  .modal{
    max-width: none;
    
    width: calc(100vw - 4 * var(--lh));

    height: calc(100vh - calc(5 * var(--lh)));
    top: var(--lh);
    margin-top: 0;
  }
}
@media only screen and (max-width: 600px) {
  .modal{
    width: calc(100vw - calc(2 * var(--lh)));
  }
  .modal-content{
    padding: calc(var(--lh) * 1);
  }
}

/*  TOC
    ========================================== */

.toc ul{
  margin: 0;
  list-style: none;
}
.toc > ul{
  padding: 0;
}

.faq-link{
  margin-top: var(--lh);
  display: inline-block;
  background-color: palegreen;
}

@media print{
  html{
    background: initial;
  }
}


/*  FAQ
    ========================================== */

.faq{
  margin-top: calc(var(--lh) * 3);
  border: var(--border);
  border-radius: var(--lh);
  padding: var(--lh);
  background-color: honeydew;
}
.faq h2{
  text-align: center;
}


/*  PRINT
    ========================================== */

@media print{
  :root{
    --lh: 1.3rem;
  }

  /* reset */
  body{
    background-color: initial;
    display: block;
  }
  .toggle-wrapper{
    display: none;
  }
  .toc-container{
    position: absolute;
    bottom: 0;
  }
  a{
    -webkit-text-stroke-color: mediumblue;
    border-bottom-color: mediumblue !important;
  }
  .toc-container a{
    -webkit-text-stroke-color: black;
    border-bottom: none !important;
  }
  .toc-container li a::after {
    content: target-counter(attr(href), page);
    -webkit-text-stroke-width: var(--thick-stroke);
    margin-left: 1em;
  }
  .toc-container::after{
    content: '';
    position: absolute;
    inset: -1em;
  }

  main > *{
    max-width: 75%;

    /* margin-left: calc(var(--lh) * 2) !important; */
  }
  h1{
    max-width: 100% !important;
  }
  figure{
    margin: 0;

    margin-left: var(--lh);
    width: calc(50% - calc(var(--lh) / 2)) !important;
    break-inside: avoid;
    float: right;
    clear: both;

    margin-top: calc(var(--lh) * 0);
    margin-bottom: calc(var(--lh) * 1);
  }
  .gallery{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: var(--lh);

    width: 100%;
    max-width: none;
    /* grid-template-columns: 1fr 1fr 1fr; */
    margin: var(--lh) 0 calc(var(--lh) * 1);
  }
  .gallery > figure{
    flex: 1 1 30%;
    /* outline: var(--stroke) solid black; */
    float: none;
    margin: 0;
    width: 100% !important;
  }
  .gallery > figure > img{
    /* border-radius: 0; */
  }
  .single{
    width: 100%;
    max-width: none;
  }
  .single > figure{
    float: none;
    margin: 0;
    width: 100% !important;
  }
  .single > figure > img{
    object-fit: fill;
  }

  img{
    /* centering in the figure */
    margin: 0 auto;
    max-width: 100%;
    max-height: calc(var(--lh) * 17);
    box-sizing: border-box;
    object-fit: cover;
  }
  figcaption{
    display: table-caption;
    width: 100%;
    font-size: 0.825rem;
    line-height: 1.3em;
  }


  hr{
    break-before: always;
    margin: 0;
    border: none;
  }
  #fwb h2{
    break-before: always;
  }
  #fwb .no-break h2{
    break-before: auto;
    margin: calc(var(--lh) * 1) 0 calc(var(--lh) * 1);
  }
  h1, h2, h3, h4{
    height: auto;
    clear: both;
    break-after: avoid;
  }
  hr + h2,
  hr + h3,
  hr + h4,
  hr + p{
    margin-top: 0 !important;
  }
  p{
    break-inside: avoid;
  }
  :is(h2, h3, h4, h5, h6, p):first-child {
    margin-top: 0 !important;
  }

  .toc > ul > li > a{
    display: none;
  }
  .toc > ul > li > ul{
    padding: 0;
  }

}