
@font-face {
  font-family: hershey1;
  src: url('fonts/HersheySans1.otf');
}
@font-face {
  font-family: hersheyScript;
  src: url('fonts/HersheyScript1.otf');
}

@font-face {
  font-family: UmeLoopGothic;
  src: url('fonts/UmeLoopGothic16.otf');
}

@font-face {
  font-family: CrickxBlobby;
  src: url('fonts/CrickxBlobby.otf');
}



/* BASIC TYPOGRAPHY */
html{
  font-size: 1.25em;
}
@media only screen and (max-width: 36rem) {
  html{
    /* but 16px on mobile */
    font-size: 1em;
  }
}

body{
  /* bigger line-height */
  line-height: var(--lh);

  /* webkit-stroke font */
  font-family: hershey1;
  -webkit-text-stroke-width: var(--stroke);
  -webkit-text-stroke-color: var(--c-front);
  color: transparent;
}
body.outline{
  font-family: UmeLoopGothic;
  -webkit-text-stroke: 0;
  color: var(--c-front);
  font-weight: 400;
  line-height: 1.4em;
}


/* titles margins */
h1,h2{
  font-family: hersheyScript;
  text-transform: lowercase;
}
h1{
  font-size: 4rem;
  line-height: calc(var(--lh) * 2);

  margin: 0 0 calc(var(--lh) * 1);
}
h2{
  font-size: 2.4rem;
  line-height: calc(var(--lh) * 2);

  margin: calc(var(--lh) * 2) 0 calc(var(--lh) * 1);
}
h3{
  font-size: 1.35rem;

  margin: calc(var(--lh) * 2) 0 calc(var(--lh) * 1);
}
h4{
  font-size: 1rem;
  border: var(--border);
  width: fit-content;
  padding: calc(var(--lh) * 0.5) var(--lh);
  box-sizing: border-box;
  border-radius: 5em;
}
h1 + h2,
h2 + h3{
  margin-top: calc(var(--lh) * 1);
}



body.outline h1,
body.outline h2{
  font-family: CrickxBlobby;
  font-weight:normal;
}

p{
  margin: calc(var(--lh) * 1) 0;
}
ul{
  margin: calc(var(--lh) * 1) 0;
  padding-left: calc(var(--lh) * 1);
  list-style-type:'— ';
}

:is(h2,h3,h4,h5,h6,p):first-child{
  margin-top: 0;
}
:is(h2,h3,h4,h5,h6,p):last-child{
  margin-bottom: 0;
}

h3, strong{
  -webkit-text-stroke-width: var(--thick-stroke);
}
body.outline h3, 
body.outline strong{
  -webkit-text-stroke: 0;
  font-weight: normal;
  background-color: lightgrey;
  width: fit-content;
}
body.outline .faq h3,
body.outline .faq strong{
  background-color: palegreen;
}

blockquote{
  margin: var(--lh);
  margin-right: 0;
}

a,
a:visited{
  cursor: pointer;
  color: currentColor;
  text-decoration: none;
  border-bottom: var(--border);
  transition: 0.1s border;
}
a:hover{
  border-bottom-width: var(--thick-stroke);
}


@media only screen and (max-width: 36rem) {
  h2{
    text-align: center;
    position: relative;
    left: -0.1em;
    margin-bottom: calc(var(--lh) * 2);
  }
}

/* MODAL */

/* typography for the modal info box */
.modal-content{
  line-height: 1.15rem;
  --lh: 1.15rem;
}
.modal *{
  font-family: monospace;
  -webkit-text-stroke: 0;
  color: var(--c-front);
}
.modal h2,
.modal strong{
  font-family: monospace !important;
  font-weight: bold !important;
  background: none !important;
  font-size: 1em;
}
.modal h2{
  text-transform: uppercase;
  margin: calc(var(--lh) * 1) 0 calc(var(--lh) * 1);
}
.modal-content > *:first-child{
  margin-top: 0;
}


/* SPECIAL FWB DOSSIER */

#fwb h2{
  font-family: hershey1;
  font-size: 1.25rem;
  line-height: var(--lh);
  margin-top: 0;
  -webkit-text-stroke-width: var(--thick-stroke);
}
#fwb h3{
  font-family: hersheyScript;
  font-size: 3rem;
  margin: calc(var(--lh) * 2) 0 calc(var(--lh) * 1);
  text-transform: lowercase;
  line-height: calc(var(--lh) * 2);
  -webkit-text-stroke-width: var(--stroke);
}

/* PRINT */
@media print{
  html{
    font-size: 10pt;
  }
  #fwb h1{
    /* font-size: 5rem; */
    margin-bottom: calc(var(--lh) * 3);
  }
  #fwb h2{
    margin-bottom: calc(var(--lh) * 3);
  }
  #fwb h3{
    margin-top: calc(var(--lh) * 3);
  }

  h3, strong{
    -webkit-text-stroke-width: var(--stroke);
  }
}



@media screen {
  .pagedjs_pages{
    background: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
  }
  .pagedjs_page{
    background-color: white;
  }
}

@page {
  /* A4 */
  size: 210mm 297mm;
  margin: 1.4cm 1.5cm;

  @bottom-right{
    content: counter(page);
    -webkit-text-stroke-width: var(--thick-stroke);
  }
}
/* @page:left{
}
@page:right{
}
@page:blank {
} */